<div class="article">
	<h2>Ajouter un nouvel article</h2>
	<%= form_tag("/posts", :method => "post") do %>
	<%= label(:post,:title, "Titre :") %>
	<%= text_field(:post, :title) %>
	<br/>
	<br/>
	<%= label(:post,:body, "Corps :") %>
	<%= text_area(:post, :body, :cols => 120, :rows => 20) %>
	<br/>
	<%= submit_tag("Create") %>
	<% end %>
</div>
