<% @posts.each do |post| %>
	<div class="article">
		<div class="title">
			<%= post.title %> 
			<%= link_to '[Editer]',edit_post_path(post.id)%>  <%= link_to '[Voir]',post_path(post.id)%>  
			<%= link_to '[Supprimer]', post_path(post.id), method: :delete %> 
		</div>
		<div class="Abody">
		<%= post.body %>
		</div>

		
		<div class="button_comment"> <%= post.comments.count %> Commentaires
			<div class="commentaires">
			<ul>
				<% post.comments.all.each do |comment| %>
					<li><span class="redacteur"><%= comment.name %></span> : <%= comment.body %>
							<p> <%= comment.created_at %> </p>
					</li>
				<% end %>
			</ul>
			</div>
		</div>
	</div>
<% end %>

