<html>

<h2>View of the post</h2>

<h3><%= @post.title %></h3>

<p><%= @post.body %></p>

<p><%= @post.updated_at %></p>

<h2>Add a comment</h2>

<%= form_tag("/posts/#{@post.id}/comments", :method => "post") do %>
<input type="hidden" name="post_id" value=<%= "#{@post.id}" %> />
<%= label(:comment,:name, "Name :") %>
<%= text_field(:comment, :name) %>
<br/>
<br/>
<%= label(:comment,:body, "Body :") %>
<br/>
<%= text_area(:comment, :body) %>
<br/>

<%= submit_tag("Add") %>
<% end %>

<h2> Comments on the post </h2>
<ul>
<% @post.comments.all.each do |comment| %>
	<li><p><%= comment.name %> : <%= comment.body %></p>
			<p> <%= comment.created_at %> </p>
			<p><%= form_tag("/posts/#{@post.id}/comments/#{comment.id}", :method => "delete") do %> 
			<input type="hidden" name="post_id" value=<%= "#{@post.id}" %> />
			<%= submit_tag("Delete") %>
			<% end %>
			</p>
	</li>
<% end %>
</ul>
</html>
