<div class="article">
	<div class="title">
		<%= @post.title %>
	</div>
	
	<div class="Abody">
		<%= @post.body %>
	</div>

	<p><%= @post.updated_at %></p>

	<h2> Commentaires de l'article </h2>
	<ul>
	<% @post.comments.all.each do |comment| %>
		<li><span class="redacteur"><%= comment.name %> </span>: <%= comment.body %>
				<p> <%= comment.created_at %> </p>
				 <%= form_tag("/posts/#{@post.id}/comments/#{comment.id}", :method => "delete") do %> 
						<input type="hidden" name="post_id" value=<%= "#{@post.id}" %> />
						<%= submit_tag("Supprimer") %>
						<% end %>			
		</li>
	<% end %>
	</ul>

</div>

<div class="article">
	<h2>Ajouter un commentaire</h2>

	<%= form_tag("/posts/#{@post.id}/comments", :method => "post") do %>
	<input type="hidden" name="post_id" value=<%= "#{@post.id}" %> />
	<%= label(:comment,:name, "Nom :") %>
	<%= text_field(:comment, :name) %>
	<br/>
	<br/>
	<%= label(:comment,:body, "Texte :") %>
	<%= text_area(:comment, :body, :cols => 120, :rows => 3) %>
	<br/>
	<br/>
	<%= submit_tag("Ajouter commentaire") %>
	<% end %>

</div>

