<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<header>
	<logo>
		<a href="/"><img src="/logo.jpg" alt="Logo"/></a>
	</logo>
	<h2>We Are Listening</h2>
			<canvas id="canvas">
				HTML Canvas not supported
			</canvas>
			<div id="header-border"></div>
		
</header>

<nav>
	<ul>
	<li><%= link_to 'Create a new post', new_post_path %></li>
	<li>Recherche</li>
	<li>Liens plus vus</li>
	<li>Liens plus commentés</li>
	</ul>
</nav>

<section>
<%= yield %>
</section>

<p><br/></p>

<footer>
Liens vers d'autres sites
</footer>

</body>
</html>
