<!DOCTYPE html>
<html>
<head>
	<!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header>
	<logo>
		<%= link_to 'Acceuil',posts_path%>
	</logo>
	<br/><br/>
</header>
<nav>
	<ul>
	<li>Recherche</li>
	<li>Liens plus vus</li>
	<li>Liens plus commentés</li>
	</ul>
</nav>

<section>
<%= yield %>
</section>

<footer>
Liens vers d'autres sites
</footer>

</html>
